@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --Soft-red: hsl(10, 79%, 65%);
    --Cyan: hsl(186, 34%, 60%);
    --Dark-brown: hsl(25, 47%, 15%);
    --Medium-brown: hsl(28, 10%, 53%);
    --Cream: hsl(27, 66%, 92%);
    --Very-pale-orange: hsl(33, 100%, 98%);
}
body {
    font-size: 18px;
    background-color: var(--Cream);
    font-family: 'Plus Jakarta Sans', sans-serif;
    padding: 20%;
}
#body {
    width: 50%;
    margin-left: 25%;
}
.heading {
    background-color: var(--Soft-red);
    color: var(--Cream);
    display: flex;
    padding: 5%;
    justify-content: space-between;
    border-radius: 15px;
}
#canvas {
    margin-top: 5%;
}
.heading h4 {
    margin-bottom: 5px;
}
.heading h3 {
    margin-top: 10px;
}
.content {
    margin-top: 10px;
    background-color: white;
    border-radius: 25px;
    padding: 5%;
}
.content h1 {
    font-size: 25px;
    color: var(--Dark-brown);
}
.con {
    display: flex;
    justify-content: space-between;
}
hr {
    margin-top: 5%;
    opacity: 40%;
}
.h4 {
    opacity: 40%;
    margin-top: 5%;
}
.con h2 {
    color: var(--Dark-brown);
    margin-top: 5%;
}
footer {
    margin: 10% 20%;
    color: var(--Soft-red);
}
footer a{
    color: var(--Cyan);
}
@media only screen and (max-width: 1024px) {
    body {
        padding: 15%;
    }
    #body {
        width: 60%;
        margin-left: 20%;
    }
}
@media only screen and (max-width: 768px) {
    body {
        padding: 5%;
    }
    #body {
        width: 70%;
        margin-left: 15%;
    }
}
@media only screen and (max-width: 600px) {
    body {
        padding: 5%;
    }
    #body {
        width: 80%;
        margin-left: 7%;
    }
    footer {
        margin: 10% 15%;
        font-size: 15px;
    }
}
@media only screen and (max-width: 375px) {
    body {
        padding-top: 15%;
    }
    #body {
        width: 100%;
        margin-left: 0;
    }
    footer {
        margin: 10% 0%;
        font-size: 15px;
    }
}
@media only screen and (max-width: 360px) {
    body {
        padding-top: 10%;
    }
    #body {
        width: 100%;
        margin-left: 0%;
    }
    footer {
        margin: 10% 0%;
        font-size: 15px;
    }
}
@media only screen and (max-width: 320px) {
    body {
        padding: 10% 0% 0%;
    }
    #body {
        width: 100%;
        margin-left: 0%;
    }
    footer {
        margin: 10% 0%;
        font-size: 15px;
    }
}