@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --Soft-red: hsl(10, 79%, 65%);
    --Cyan: hsl(186, 34%, 60%);
    --Dark-brown: hsl(25, 47%, 15%);
    --Medium-brown: hsl(28, 10%, 53%);
    --Cream: hsl(27, 66%, 92%);
    --Very-pale-orange: hsl(33, 100%, 98%);
}
body {
    font-size: 18px;
    background-color: var(--Cream);
    font-family: 'Plus Jakarta Sans', sans-serif;
    padding: 20%;
}
#body {
    width: 50%;
}
.heading {
    background-color: var(--Soft-red);
    color: var(--Cream);
    display: flex;
    padding: 5%;
    justify-content: space-between;
    border-radius: 25px;
}
#canvas {
    background-color: white;
}
.heading h4 {
    margin-bottom: 5px;
}
.heading h3 {
    margin-top: 10px;
}
.content {
    margin-top: 10px;
    background-color: white;
    border-radius: 25px;
    padding: 5%;
}
.content h1 {
    font-size: 25px;
    color: var(--Dark-brown);
}
.con {
    display: flex;
    justify-content: space-between;
}
hr {
    opacity: 40%;
}
.h4 {
    opacity: 40%;
}
.con h2 {
    color: var(--Dark-brown);
}